$primary-color: #3498db;
$secondary-color: #2c3e50;
$hover-color: #2980b9;
$font-family: 'Arial',
sans-serif;
.navbar {
    width: 100%;
    background-color: $secondary-color;
    padding: 10px 0;
    /* Reduced padding */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s ease;
    /* Add smooth transition for hide/show effect */
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
    }
    .logo {
        color: white;
        font-size: 1.5rem;
        /* Reduced font size */
        font-family: $font-family;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: $primary-color;
        }
        img {
            width: 70px;
            /* Smaller logo */
            height: auto;
            display: inline-block;
            transition: transform 0.3s ease;
        }
    }
    .nav-toggle {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        height: 20px;
        /* Smaller toggle */
        width: 25px;
        cursor: pointer;
        span {
            width: 20px;
            height: 3px;
            background-color: white;
            transition: 0.3s ease;
        }
    }
    .nav-links {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        li {
            margin: 0 15px;
            /* Smaller margin */
            a {
                color: white;
                font-size: 0.9rem;
                /* Smaller font size */
                text-decoration: none;
                text-transform: uppercase;
                font-family: $font-family;
                transition: color 0.3s ease;
                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .nav-toggle {
            display: flex;
        }
        .nav-links {
            position: absolute;
            top: 60px;
            /* Adjusted for smaller navbar */
            left: 0;
            width: 100%;
            background-color: $secondary-color;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
            &.active {
                transform: translateX(0);
            }
            li {
                margin: 15px 0;
                /* Smaller margin */
            }
        }
    }
}